.panelTpasi-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-right {
  width: 50%;
  margin: 10rem 10rem;
}
.panel-right h1 {
  margin-bottom: 3rem;
}
.panel-right p {
  font-size: 20px;
  width: 80%;
}
.panel-right span {
  margin-top: 1rem;
  color: #ff5722;
  font-size: 22px;
}
.head {
  border: 1px solid gray;
  width: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
}
.panel-left img {
  width: 600px;
  height: 300px;
}
.btn-sazmani {
  display: block;
  margin: 1rem 0;
  padding: 15px 40px;
  border-radius: 10px;
  background-color: #ff5722;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.copunTapsi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: -7rem 5rem;
}
.copunTapsi img {
  width: 600px;
  height: 300px;
}
.left-copun {
  margin: 10rem 3rem;
}

.left-copun-right h1 {
  margin-bottom: 3rem;
}
.left-copun-right p {
  width: 80%;
  font-size: 20px;
}
